$MDstandardboxwidth:40px;
$MDstandardboxheight:55px; 
$MDcontainerwidth: $MDstandardboxwidth * 18.50;

$LGstandardboxwidth:55px;
$LGstandardboxheight:75px;
$LGcontainerwidth: $LGstandardboxwidth * 18.50;

@mixin respond-to($media) {
  @if $media == condensed {
    @media only screen and (min-width: 481px) { @content; }
  }
  @else if $media == "full" {
    @media only screen and (min-width: $LGcontainerwidth) { @content; }
  }
}

#container {
  @include respond-to("condensed") {max-width: $MDcontainerwidth;}
  @include respond-to("full") {max-width: $LGcontainerwidth;}
}
#table {
  @include respond-to("condensed") {width: $MDcontainerwidth;}
  @include respond-to("full") {width: $LGcontainerwidth;}
}

.boxsize {
  @include respond-to("condensed") {
    width: $MDstandardboxwidth !important;
    height: $MDstandardboxheight !important;
  }
  @include respond-to("full") {
    width: $LGstandardboxwidth !important;
    height: $LGstandardboxheight !important;
  }
}
div{
  &.thin {
    @include respond-to("condensed") {
      width: $MDstandardboxwidth * .5 !important;
      height: $MDstandardboxheight !important;
    }
    @include respond-to("full") {
      width: $LGstandardboxwidth*.5 !important;
      height: $LGstandardboxheight !important;
    }
  }
  &.smallblank {
    @include respond-to("condensed") {
    width: $MDstandardboxwidth;
    height: $MDstandardboxwidth/4;
    }
    @include respond-to("full") {
      width: $LGstandardboxwidth;
      height: $LGstandardboxwidth/4;
    }
  }
  &.rowlabel {
    @include respond-to("condensed") {padding: $MDstandardboxwidth/3 0px ;}    
    @include respond-to("full") {padding: $LGstandardboxwidth/3 0px ;}
  }
}

h6.elementname {
  @include respond-to("condensed") {display: none;}
  @include respond-to("full") {
    font-size: 10px;
    font-weight: bold;
    margin: 0px;
    font-family: "Helvetica Narrow", "Arial Narrow";
    display: block;
  }
}
#legend {
  @include respond-to("condensed") {
    width: $MDstandardboxwidth*10;
    height: $MDstandardboxheight*3;
    left: $MDstandardboxwidth*2.75;
    top: -$MDstandardboxheight*10.25;
  }    
  @include respond-to("full") {
    width: $LGstandardboxwidth*10;
    height: $LGstandardboxheight*3;
    left: $LGstandardboxwidth*2.75;
    top: -$LGstandardboxheight*10.25;
  }
  .colorBox {
    @include respond-to("condensed") {
      width: 15px;
      height: 15px;
    }    
    @include respond-to("full") {
      width: 25px;
      height: 25px;
    }
  }
  .legend li {
    @include respond-to("condensed") {
      font-size: 10px;
      margin-bottom: 0px;
    }
    @include respond-to("full") {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
}

.h2 {
  @include respond-to("condensed") {font-size: 1.5rem !important;}
  @include respond-to("full") {font-size: 2rem !important;}
}
h3 {
  @include respond-to("condensed") {font-size: 1.25rem !important;}
  @include respond-to("full") {font-size: 1.75rem !important;}
}
h5 {
  @include respond-to("condensed") {font-size: 0.65rem !important;}
  @include respond-to("full") {font-size: 1.25rem !important;}
}

#mobile {
  @include respond-to("condensed") {display: none;}
  @include respond-to("full") {display: none;}
}
/*# sourceMappingURL=PeriodicTableCustom.scss.map */
