
body{
    background-color: lightgray;
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Ubuntu', sans-serif;
    color:black;
    h1, h2, h3, h4, h5, h6{
        font-family: 'Poppins', sans-serif;
    }
    h3{
        font-size:1.25em;
    }

    .container{
        background-color: white;
        min-height: calc(100vh - 56px);
        // .section-heading{
            //     border-bottom: 1px solid black;
            // }
        }
        
        #page-heading{
            text-align: left; 
            background-color:beige;
        }
}
    
nav.navbar {
    &#main_nav{
        background-color: darkslategray;
    }
    &#page_nav{
        background-color: rgb(42, 70, 46);
        padding-top:0px;
        padding-bottom:0px;
    }
    font-family: 'Poppins', sans-serif;
    a{
        color:white!important;
        &:hover{
            color:rgb(255, 255, 144);
            i{
                transform: scale(1.4);
                animation-duration: .25s;
            }
        }
        &:active{
            color: yellow;
            i{
                transform: scale(1.2);
            }
        }
    }
}

header{
    text-align: center;
    @media only screen and (max-width: 768px) {
        h1.display-4{
            font-size:1.8em;
            margin-top:10px;
            margin-bottom:10px;
        }
        h2{
            font-size:1.5rem;
        }
    }

    @media only screen and (min-width: 769px) and (max-width: 992px) {
        h1.display-4{
            font-size:3em;
        }
    }
}

@media only screen and (max-width: 768px) {

    h2{
        font-size:1.5rem;
    }
}



bibilography{
    p{
        padding-left: 2rem;
        text-indent: -2rem;
    }
}