nav.navbar {
  background-color: darkslategray;
}

header {
  background-image: url("../media/dna_background3.jpg");
  background-position: top;
  background-repeat: repeat-x;
  background-color: black;
  font-weight: bold;
}
@media (min-width: 1200px) {
  header {
    background-size: auto;
  }
}
header h2 {
  font-family: "Dosis", sans-serif;
  padding: 0.35em;
  color: white;
}
header nav.navbar {
  font-family: "Raleway", sans-serif;
  background-color: #117074;
}
header nav.navbar .nav-item:hover {
  background-color: #17989c;
}
header nav.navbar .nav-item:active {
  background-color: #A6550C;
}

main.container-fluid {
  position: absolute;
  font-family: "Raleway", sans-serif;
}
main h1, main h2, main h3, main h4, main h5, main h6 {
  font-family: "Dosis", sans-serif;
}
main h1.display-4 {
  text-align: center;
  margin: 0.2em;
}
main #main-body {
  padding: 2em;
}
main #main-image {
  margin: 0.5em 0;
  padding: 0.5em 0;
}
main .body-image {
  float: right;
}
@media (max-width: 575px) {
  main .body-image {
    max-width: 100%;
    float: none;
    text-align: center;
  }
}
main #key-facts {
  color: white;
  background-color: #213d8a;
  margin: 1em 0;
  padding: 1em 1em;
  font-family: "Dosis", sans-serif;
  border-radius: 5px;
  height: 95%;
}
main #key-facts h2 {
  text-align: center;
}
@media (max-width: 575px) {
  main #key-facts {
    min-height: 100px;
    font-size: 0.85em;
  }
}
@media (min-width: 576px) {
  main #key-facts {
    min-height: 125px;
    font-size: 0.85em;
  }
}
@media (min-width: 768px) {
  main #key-facts {
    font-size: 0.9em;
  }
}
@media (min-width: 992px) {
  main #key-facts {
    font-size: 1.1em;
  }
}
@media (min-width: 1200px) {
  main #key-facts {
    font-size: 1.3em;
  }
}
main span.definition {
  font-weight: bold;
}
main #additional_facts {
  background-color: wheat;
}
main #additional_facts h5 {
  text-align: center;
  font-weight: bold;
}
main #additional_facts .infobox {
  padding: 0.5em;
}
main #carousel-wrapper {
  background-color: wheat;
  width: 100vw;
}
main #carousel-wrapper #quote_carousel_indicators .quote {
  font-family: "Dosis", sans-serif;
  padding: 20px;
  min-width: 100%;
  font-size: 1.5em;
}
main #carousel-wrapper #quote_carousel_indicators .quote .full_quote {
  font-weight: bold;
}
main #carousel-wrapper #quote_carousel_indicators .quote .quoter {
  display: block;
}
@media (max-width: 575px) {
  main #carousel-wrapper #quote_carousel_indicators {
    min-height: 100px;
    font-size: 0.6em;
  }
}
@media (min-width: 576px) {
  main #carousel-wrapper #quote_carousel_indicators {
    min-height: 125px;
    font-size: 0.6em;
  }
}
@media (min-width: 768px) {
  main #carousel-wrapper #quote_carousel_indicators {
    font-size: 0.7em;
  }
}
@media (min-width: 992px) {
  main #carousel-wrapper #quote_carousel_indicators {
    font-size: 0.8em;
  }
}
main .mcl-link {
  padding: 4px;
  background-size: cover;
  background-position: center;
  border-style: ridge;
  border-width: 1px;
}
main .mcl-link a {
  color: black;
  text-decoration: none;
}
main .mcl-link h2 {
  text-align: center;
  margin: 1.5em;
  font-weight: bold;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.555);
  border-radius: 3px;
}
@media (min-width: 576px) {
  main .mcl-link {
    min-height: 100px;
  }
}
@media (min-width: 768px) {
  main .mcl-link {
    min-height: 200px;
  }
}
@media (min-width: 992px) {
  main .mcl-link {
    min-height: 400px;
  }
}
main #carb-link {
  background-image: url("../media/carbohydrates-wheat.jpg");
}
main #carb-link:hover {
  background-color: rgba(0, 128, 0, 0.7);
  background-blend-mode: screen;
}
main #lipid-link {
  background-image: url("../media/butter.jpg");
}
main #lipid-link:hover {
  background-color: rgba(255, 255, 0, 0.7);
  background-blend-mode: screen;
}
main #protein-link {
  background-image: url("../media/meat.jpg");
}
main #protein-link:hover {
  background-color: rgba(255, 0, 0, 0.7);
  background-blend-mode: screen;
}
main #na-link {
  background-image: url("../media/dna_background2.jpg");
}
main #na-link:hover {
  background-color: rgba(0, 0, 255, 0.7);
  background-blend-mode: screen;
}

/*# sourceMappingURL=assignment5.css.map */
