@media only screen and (min-width: 481px) {
  .container-fluid{
    max-width: 780px;
  }

  #table {
    width: 775px;
  }

  .boxsize {
    width: 40px !important;
    height: 55px !important;
  }

  .thin {
    width: 30px !important;
    height: 55px !important;
  }

  div.rowlabel {
    padding: 15px;
  }

  h6.elementname {
    display: none;
  }

  div.smallblank {
    width: 40px;
    height: 20px;
  }

  #legend {
    width: 401px;
    height: 165px;
    left: 104px;
    top: -564px;
  }

  .colorBox {
    width: 15px;
    height: 15px;
  }

  .legend li {
    font-size: 10px;
    margin-bottom: 0px;
  }

  #mobile {
    display: none;
  }

  .h2 {
    font-size: 1.5rem !important;
  }

  h3 {
    font-size: 1.25rem !important;
  }

  h5 {
    font-size: 0.65rem !important;
  }
}
@media only screen and (min-width: 1024px) {
  .container-fluid{
    max-width: 100%;
  }

  #table {
    width: 1150px;
  }

  .boxsize {
    width: 60px !important;
    height: 75px !important;
  }

  .thin {
    width: 40px !important;
    height: 75px !important;
  }
  /* Element Display */

  div.rowlabel {
    padding: 18px;
  }

  h6.elementname {
    font-size: 10px;
    font-weight: bold;
    margin: 0px;
    font-family: "Helvetica Narrow", "Arial Narrow";
    display: block;
  }

  div.smallblank {
    width: 60px;
    height: 20px;
  }

  /* Legend CSS */
  #legend {
    width: 602px;
    height: 228px;
    left: 164px;
    top: -770px;
  }

  .colorBox {
    width: 25px;
    height: 25px;
  }

  .legend li {
    font-size: 14px;
    margin-bottom: 5px;
  }

  #mobile {
    display: none;
  }

  .h2 {
    font-size: 2rem !important;
  }

  h3 {
    font-size: 1.75rem !important;
  }

  h5 {
    font-size: 1.25rem !important;
  }

}
