@media only screen and (min-width: 481px) {
  #container {
    max-width: 740px;
  }
}
@media only screen and (min-width: 1017.5px) {
  #container {
    max-width: 1017.5px;
  }
}

@media only screen and (min-width: 481px) {
  #table {
    width: 740px;
  }
}
@media only screen and (min-width: 1017.5px) {
  #table {
    width: 1017.5px;
  }
}

@media only screen and (min-width: 481px) {
  .boxsize {
    width: 40px !important;
    height: 55px !important;
  }
}
@media only screen and (min-width: 1017.5px) {
  .boxsize {
    width: 55px !important;
    height: 75px !important;
  }
}

@media only screen and (min-width: 481px) {
  div.thin {
    width: 20px !important;
    height: 55px !important;
  }
}
@media only screen and (min-width: 1017.5px) {
  div.thin {
    width: 27.5px !important;
    height: 75px !important;
  }
}
@media only screen and (min-width: 481px) {
  div.smallblank {
    width: 40px;
    height: 10px;
  }
}
@media only screen and (min-width: 1017.5px) {
  div.smallblank {
    width: 55px;
    height: 13.75px;
  }
}
@media only screen and (min-width: 481px) {
  div.rowlabel {
    padding: 13.3333333333px 0px;
  }
}
@media only screen and (min-width: 1017.5px) {
  div.rowlabel {
    padding: 18.3333333333px 0px;
  }
}

@media only screen and (min-width: 481px) {
  h6.elementname {
    display: none;
  }
}
@media only screen and (min-width: 1017.5px) {
  h6.elementname {
    font-size: 10px;
    font-weight: bold;
    margin: 0px;
    font-family: "Helvetica Narrow", "Arial Narrow";
    display: block;
  }
}

@media only screen and (min-width: 481px) {
  #legend {
    width: 400px;
    height: 165px;
    left: 110px;
    top: -563.75px;
  }
}
@media only screen and (min-width: 1017.5px) {
  #legend {
    width: 550px;
    height: 225px;
    left: 151.25px;
    top: -768.75px;
  }
}
@media only screen and (min-width: 481px) {
  #legend .colorBox {
    width: 15px;
    height: 15px;
  }
}
@media only screen and (min-width: 1017.5px) {
  #legend .colorBox {
    width: 25px;
    height: 25px;
  }
}
@media only screen and (min-width: 481px) {
  #legend .legend li {
    font-size: 10px;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 1017.5px) {
  #legend .legend li {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 481px) {
  .h2 {
    font-size: 1.5rem !important;
  }
}
@media only screen and (min-width: 1017.5px) {
  .h2 {
    font-size: 2rem !important;
  }
}

@media only screen and (min-width: 481px) {
  h3 {
    font-size: 1.25rem !important;
  }
}
@media only screen and (min-width: 1017.5px) {
  h3 {
    font-size: 1.75rem !important;
  }
}

@media only screen and (min-width: 481px) {
  h5 {
    font-size: 0.65rem !important;
  }
}
@media only screen and (min-width: 1017.5px) {
  h5 {
    font-size: 1.25rem !important;
  }
}

@media only screen and (min-width: 481px) {
  #mobile {
    display: none;
  }
}
@media only screen and (min-width: 1017.5px) {
  #mobile {
    display: none;
  }
}

/*# sourceMappingURL=PeriodicTableCustom.scss.map */

/*# sourceMappingURL=PeriodicTableCustom.css.map */
