@mixin respond-to($media) {
    @if $media == condensed {
      @media only screen and (min-width: 481px) { @content; }
    }
    @else if $media == "full" {
      @media only screen and (min-width: 482px) { @content; }
    }
}

@mixin aligncenter { 
    align-items: center;
    text-align: center;
    justify-content: center;
}

// .maindisplay{
//     background-color: #805115;
//     justify-content:center;
// }

.frontphoto {
    max-width: 500px;
    padding: 0px;
    @include respond-to("condensed"){
        @include aligncenter;
    }
}

#titlebox {
    @include aligncenter;
    display: flex;
    vertical-align: middle;
    .display-1{
        @include respond-to("condensed"){
            font-size: 60px;
        }
    }
}

.certifications{
    @include aligncenter;
    img{
        display: inline-block;
    }
}

.blockquote{
    border: {
        width:1px;
        style: solid none;
    }
}

#EducationCarousel{
    @include aligncenter;
    padding: 30px 0;
    height: 400px;
    display: flex;
    vertical-align: middle;
    li:after {
        background-color: teal;
    }
    li.active:after {
        background-color: turquoise;
    }
    .carousel{
        &-text{
            align-self: center!important;
            display: inline-block!important;
            vertical-align: middle!important;
            margin: 20px;
        }
        &-control{
            &-prev-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='teal' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
            }
            &-next-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='teal' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
            }
        }

        &image{
            @include respond-to("condensed"){
                max{
                    width:250px;
                    height: 100px;
                }
            }
        }
    }
}


.mainpagelinks{
    text-align: center;
}

blockquote{
    @include respond-to("condensed"){
        margin: 0px 2em;
        line-height: 1 !important;
    }
    @include respond-to("full"){
        margin: 0px 2.5em;
        line-height: 1.5 !important;
    }
}

.skills{
    @include respond-to("condensed"){
        line-height: 1 !important;
    }
    @include respond-to("full"){
        line-height: 1.5 !important;
    }
}