@media only screen and (max-width: 480px){
    /* we will set these stylings only if the device is a screen with a width of 480px or less */
    #mobile{
    display: block;
    }
    
    #table{
        padding: 0px;
        width: 800px;
        background-color: white;
        display: none;
        align-self: center;
    }

    .row{
        padding: 0px;
        background-color: white;
        display:none; 
        margin: 0px;
    }

    #legend{
        position: relative;
        padding: 2px;
        display:none;
        align-self: center;
        width: 406px;
        height: 228px;
        left: 100px;
        top: -586px;
        /* border-style: solid; */
    }


    nav{
        display: none !important;
    }
}
