@media only screen and (min-width: 1024px){
    #table{
        padding: 0px;
        /* width: 1140px; */
        width: 3040px;
        background-color: white;
        display:block;
        align-self: center;
    }

    .row{
        padding: 0px;
        background-color: white;
        display:block; 
        margin: 0px;
    }

    /* Element Display */
    button.element{
        padding: 0px;
        width: 60px;
        height: 75px;
        display:inline-block;
        text-align: center;
        border-radius: 3px;
        border-width: 1px;
        border-color: lightgray;
        border-style: solid;
    }
    
        .element h6{
            font-size:9px;
            margin: 2px;
        }
    
        .element.h6.atomicnumber {
            font-size:10px;
            font-weight: bold;
        }

        .element.h3.elementsymbol {
            margin: -1px;
        }
        
        h6.elementname {
            font-size:10px;
            font-weight: bold;
            margin: 0px;
            font-family: "Helvetica Narrow", "Arial Narrow";
            display: block;
        }
        
    div.blank{
        width: 60px;
        height: 75px;
        margin:0px;
        background-color: white;
        display:inline-block;
    }

    div.smallblank{
        padding: 2px;
        width: 60px;
        height: 20px;
        margin:0px;
        background-color: white;
        display:inline-block;
        align-items: center;
        text-align: center;
    }
        
    div.rowlabel{
        padding: 2px;
        width: 60px;
        height: 75px;
        line-height: 75px;
        margin:0px;
        background-color: white;
        display:inline-block;
        align-items: center;
        text-align: center;
    }
    
    div.columnlabel{
        padding: 6px 2px 2px 2px;
        width: 60px;
        height: 75px;
        margin:0px;
        display:inline-block;
        align-items: center;
        text-align: center;
    }
    
        .IUPAC{/* Specifies numbering system of groups (columns) */
            display:block;
        }
        
        .CAS{/* Specifies numbering system of groups (columns) */
            display:block;
            font-family: "Times New Roman", Times, serif;
        }
        .CAS2{/* Specifies numbering system of groups (columns) */
            display:block;
        }
    
    
        
        /* Modal stuff */
        .modal-dialog {
            max-width: 1000px !important;
        }
        
        /* Legend CSS */
    #legend{
        position: relative;
        padding: 6px;
        display:block;
        align-self: center;
        width: 602px;
        height: 228px;
        left: 164px;
        top: -770px;
    }
    
        table.legend {
            border-style: hidden;
            width: 100%;
            vertical-align: top;
        }
    
        .legend td{
            vertical-align: top;
        }
        
        .colorBox{
            padding: 0px;
            width: 20px;
            height: 20px;
            display:inline-block;
            text-align: center;
            border-radius: 3px;
            border-style: hidden;
        }
        
        .legend li{
            list-style: none;
            font-size: 14px;
            margin-bottom: 5px;
            text-transform: capitalize;
        }
        
    #mobile{
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    
    span.bold{
        font-weight: bold;
    }
    
    .h2{
        font-size: 2rem !important;
    }
    
    h3{
        font-size: 1.75rem !important;
    }
    
    h5{
        font-size: 1.25rem !important;
    }
}